@font-face {
    font-family: 'Super Mario Bros. NES';
    src: url('SuperMarioBrosNES.eot');
    src: url('SuperMarioBrosNES.eot?#iefix') format('embedded-opentype'),
        url('SuperMarioBrosNES.woff2') format('woff2'),
        url('SuperMarioBrosNES.woff') format('woff'),
        url('SuperMarioBrosNES.ttf') format('truetype'),
        url('SuperMarioBrosNES.svg#SuperMarioBros.NES') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
   box-sizing: border-box;
    color: black;
    padding: 0;
    margin: 0 auto;
}
html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
    margin: 0 auto;
    padding: 0;
    background-color: #84a2fe;
    color: #ffffff;
    font-family: "Super Mario Bros. NES", Helvetica, sans-serif;
    text-transform: uppercase;
}

main{
    margin-top: 1rem;
    text-align: center;
}

header {
    padding: 0;
    margin: 0 auto 40px; 
    width:100%;
    list-style: none;
    display: flex;
} 

nav {
    width: 100%;
    max-width: 1100px;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    width: 100%;
    align-content: space-evenly;
    
}

nav li {
    margin: 0 auto;
    font-size: 2rem;
    color:white;
    line-height: 4rem;
    outline: none;
    flex: 1 0 25%;
    text-align: center;
} 


nav li span, a {
    color: white;
    outline: none;
    border:none;
    text-decoration: none;
}

.banner {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.banner img {
    max-width: 100%;
}

main {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

main p {
    font-size: 24px;
}

main input, main submit, main p.topPlayer {
    font-size: 36px;
    line-height: 2em;
}

main form {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}

main input[type="text"]::before {
    content: url("../img/mushroom-icon.png");
    position: relative;
    left: -20px;
}

main submit::before {
    content: url("../img/mushroom-icon.png");
    position: relative;
    left: -20px;
}

main form input[type="text"], main form submit {
    background: none;
    border: 0;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

main form input::placeholder {
    color: white;
}

main p.topPlayer {margin-top: 50px;}

.modal {width: 665px;
    background: url(../img/modal-bg.png) no-repeat;
    height: 485px;
position: absolute;
left: 0;
right: 0;
top: 25%;
text-align: center;
}

.modal img {
    margin: 20px auto;
    width: 480px; 
    height: 360px;
}

.modal p {
    font-size: 20px;
}
.question-block {
    position: fixed;
    top: 30%;
    right: 20px;
    z-index: 9;
    cursor: pointer;
}

.question-block.coinBounce { 
    animation: coinBounce 0.1s 1 linear;
} 

@keyframes coinBounce {
    0% {
        top: 30%; 
    }
    50% {
        top: 29%; 
    } 

    100% {
        top: 30%; 
    } 
}

.mcr-bg {
    display: flex;
    width: 100%;
    align-content: space-evenly;
    z-index: 1;
    position: relative;
    flex-wrap: wrap;
}

.hill {
    background: url("../img/hill-bg.png") no-repeat;
    width: 374px;
    height: 145px;
    position: relative;
    bottom: -60px;
}
.pipe {
    background: url("../img/pipe-bg.png") no-repeat;
    width: 151px;
    height: 201px;
    z-index: 1;
    position: relative;
    bottom: -10px;
    
}

footer {
    padding: 1rem;
    background: url("../img/footer-bg.png") repeat-x;
    height: 130px;
    color: white;
    width: 100%;
    position: relative;
    z-index: 2;
}

@media screen and (min-width: 1880px) {
    .question-block {
        right: 20%;
    }
 }

@media screen and (max-width: 1024px) {
    main {padding: 0 10px;}
    .modal {padding-bottom:20px;}
}

@media screen and (max-width: 767px) {
    header {margin: 0 auto;}
    nav ul {flex-direction: column; margin-top: 20px}
    nav ul li {line-height: 1.5em; margin-bottom: 20px; flex: 0 1;}
    .banner {width: 90%; }
    main {padding: 0 10px;}
    main p.topPlayer {font-size: 18px;}
    .mcr-bg {height: 60px; margin-top: 120px;}
    .pipe {width: 101px;
    height: 138px;
    z-index: 1;
    position: relative;
    bottom: 70px;
    background-size: cover; }
    .hill {width: 180px;
        height: 120px;
        z-index: 1;
        position: relative;
        bottom: -2px;
        background-size: contain;}
    .modal {
        position: fixed;
        width: 90%;  
        height: auto;
        background-size: cover;
        padding-bottom: 20px;      
    }
    .modal img {
        margin: 50px auto 20px;
        width: 280px;
        height: 210px;
    }
    .modal p {font-size: 16px;}
    .question-block {width: 50px; height: auto;}
}


